h1 {
  display: flex;
  justify-content: center;
  margin: 0;
  font-size: 50px;
} 
.property {
  display: flex;
  justify-items: center;
}
.addproperty {
  background-color: rgb(242, 224, 255);
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px rgb(38 38 48 / 20%);
  margin: 0;
  padding: 2;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 9px;
  list-style-type: none;
}
.addproperty form {
  display: flex;
  flex-direction: column;
  justify-items: start;
}
.form-container{
  margin: 0 auto;
  
}
button{
  display: flex;
  justify-content: center;
 
  padding: 1%;
  margin-top: 10px;
 
  background-color: rgba(131, 0, 131, 0.753);
  color: white;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgb(38 38 48 / 20%);
  
}


/* @media only screen and (max-width: 1000px) {
  .navlinks {
    max-width: 25%;
  }
}
@media only screen and (max-width: 750px) {
  .navlinks {
    max-width: 40%;
  }
}
@media only screen and (max-width: 500px) {
  .navlinks {
    max-width: 60%;
  }
} */
