body {

  background-color: #f4ecfc;
  margin: 0;
  padding: 0;
  /* background: #fff; */
  color: #454552;
  font: 78%/130% arial,helvetica,sans-serif;
  margin: 0;
  text-align: center;
  overflow-anchor: none;
  box-sizing: border-box;
  overflow-anchor: none;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 4%;
  font-size: 30px;
}
/* .hero-back-img { 
  height: 10%;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} */

@media only screen and (max-width: 750px) {
  
    
}