body {

  background-color: #f9f2ff;
  margin: 0;
  padding: 0;
  /* background: #fff; */
  color: #454552;
  font: 78%/130% arial,helvetica,sans-serif;
  margin: 0;
  text-align: center;
  overflow-anchor: none;
  box-sizing: border-box;
  overflow-anchor: none;
}

h1 {
  display: flex;
  justify-content: center;
  margin: 4%;
  font-size: 30px;
}

@media only screen and (max-width: 750px) {
  
    
}