.property-card {
  background-color: rgba(255, 254, 254, 0.468);
  border: 1px solid rgba(244, 206, 247, 0.434);
  box-shadow: 0 8px 16px rgb(38 38 48 / 20%);
  padding: 20px;
  text-align: center;

}